{% extends 'base.html.twig' %}

{% block body %}
<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
	<!--begin::Page-->
	<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
		<!--begin::Wrapper-->
		<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
			<!--begin::Main-->
			<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
				<!--begin::Content wrapper-->
				<div class="d-flex flex-column flex-column-fluid">
                    <!--begin::Content-->
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <!--begin::Content container-->
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                <!--begin::Row-->
                                <div class="row d-flex justify-content-center">
                                <div class="col-xl-4 mb-4 mb-xl-4 ">
                                    <div class="card card-bordered">
                                        <div class="card-header bg-dark ">
                                            <h1 class="card-title flex-column ">
                                                <span class="card-label font-weight-bolde r text-white ">{{'Authentification'|trans}}</span>
                                                
                                            </h1>
                                        </div>
                                        <div class="card-body">
                                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                            {% for message in app.flashes('danger') %}
                                                <div class="alert alert-danger">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}

                                            <form action="{{ path('oauth_discord') }}" method="post">
                                                <input type="hidden" name="token" value="{{ csrf_token('discord-auth') }}"/>
                                                <button class="w-100 btn btn-lg text-white" style="background-color: #4B77BE" type="submit">Connexion avec Discord</button>
                                            </form>
                                        {% else %}
                                            <div class="card d-flex align-items-center">
                                                <img src="{{ app.user.avatar }}" >
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ app.user.username }}</h5>
                                                    <a href="{{ path('app_logout') }}" class="btn btn-primary">Déconnexion</a>
                                                </div>
                                                <a href="{{ path('home') }}" class="btn btn-success">↩</a>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Content container-->
                        </div>
                        <!--end::Content-->
					
				<!--end::Content wrapper-->
			</div>
			<!--end:::Main-->
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>
<!--end::App-->
{% endblock %}

