<!--begin::Modal - Upgrade plan-->
<div class="modal fade" id="kt_modal_upgrade_plan" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-xl">
		<!--begin::Modal content-->
		<div class="modal-content rounded">
			<!--begin::Modal header-->
			<div class="modal-header border-0 pb-0">
				<h1>Mobility Portal</h1>
				
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary justify-content-end" data-bs-dismiss="modal">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-1">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</div>
				
				<!--end::Close-->
			</div>
			<br><br>
			<!--end::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body pt-0 pb-15 px-5 px-xl-20">
				<!--begin::Accordion-->
				<div class="accordion shadow" id="kt_accordion_1">
					<div class="accordion-item">
						<h2 class="accordion-header" id="kt_accordion_1_header_5">
							<button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_5" aria-expanded="false" aria-controls="kt_accordion_1_body_5">
								CARSPOT
							</button>
						</h2>
						<div id="kt_accordion_1_body_5" class="accordion-collapse collapse " aria-labelledby="kt_accordion_1_header_5" data-bs-parent="#kt_accordion_5">
							<div class="accordion-body">
								<!--begin::Tab Content-->
								<div class="tab-content">
									<!--begin::Tap pane-->
									<div class="tab-pane fade show active" id="kt_stats_widget_16_tab_5">
										<!--begin::Table container-->
										<div class="table-responsive">
											<!--begin::Table-->
											<table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
												<!--begin::Table head-->
												<thead>
													<tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
														<th class="p-0 pb-3 min-w-150px text-start">Carspot {{'Menu'|trans}} </th>
												</thead>
												<!--end::Table head-->
												<!--begin::Table body-->
												<tbody>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/home.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Home'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/earth.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Countries / Colors'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/picture.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Pictures'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/Invoice.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Datasheet'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/exchange.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Export / Import'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/database.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Synchro BA'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/dashboard2.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Website Publish Preview'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
												</tbody>
												<!--end::Table body-->
											</table>
											<!--end::Table-->
										</div>
										<!--end::Table container-->
									</div>
									<!--end::Tap pane-->
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="kt_accordion_1_header_6">
							<button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_6" aria-expanded="false" aria-controls="kt_accordion_1_body_6">
							PARTS MASTER PORTAL
							</button>
						</h2>
						<div id="kt_accordion_1_body_6" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_6" data-bs-parent="#kt_accordion_1">
							<div class="accordion-body">
								<!--begin::Tab Content-->
								<div class="tab-content">
									<!--begin::Tap pane-->
									<div class="tab-pane fade show active" id="kt_stats_widget_16_tab_1">
										<!--begin::Table container-->
										<div class="table-responsive">
											<!--begin::Table-->
											<table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
												<!--begin::Table head-->
												<thead>
													<tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
														<th class="p-0 pb-3 min-w-150px text-start">PMP {{'Menu'|trans}} </th>
												</thead>
												<!--end::Table head-->
												<!--begin::Table body-->
												<tbody>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/home.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Home'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/budget.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">KPI</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="symbol symbol-40px me-5">
																	<img src="../assets/media/mymedia/file.png" />
																</div>
																<div class="d-flex justify-content-start flex-column">
																	<a href="?page=pages/user-profile/overview" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">{{'Files'|trans}}</a>
																</div>
															</div>
														</td>
														<td class="text-end">
															<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																		<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
														</td>
													</tr>
												</tbody>
												<!--end::Table body-->
											</table>
											<!--end::Table-->
										</div>
										<!--end::Table container-->
									</div>
									<!--end::Tap pane-->
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="kt_accordion_1_header_7">
							<button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_7" aria-expanded="false" aria-controls="kt_accordion_1_body_7">
							VEHICLE PORTAL
							</button>
						</h2>
						<div id="kt_accordion_1_body_7" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_7" data-bs-parent="#kt_accordion_1">
							<div class="accordion-body">
							...
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="kt_accordion_1_header_8">
							<button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_8" aria-expanded="false" aria-controls="kt_accordion_1_body_8">
							DSP
							</button>
						</h2>
						<div id="kt_accordion_1_body_8" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_8" data-bs-parent="#kt_accordion_1">
							<div class="accordion-body">
							...
							</div>
						</div>
					</div>
				</div>
				<!--end::Accordion-->
									</div>
									<!--end::Body-->
								</div>
								<!--end::Tab Pane-->
							</div>
							<!--end::Tab content-->
						</div>
						<!--end::Col-->
					</div>
					<!--end::Row-->
				</div>
				<!--end::Plans-->
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!--end::Modal - Upgrade plan-->