<!--begin:Pages menu-->
<div class="menu-active-bg px-4 px-lg-0">
	<!--begin:Tabs nav-->
	<div class="d-flex w-100 overflow-auto">
		<ul class="nav nav-stretch nav-line-tabs fw-bold fs-6 p-0 p-lg-10 flex-nowrap flex-grow-1">
			<!--begin:Nav item-->
			<li class="nav-item mx-lg-1">
				<a class="nav-link py-3 py-lg-6 active text-active-primary" href="#" data-bs-toggle="tab" data-bs-target="#kt_app_header_menu_pages_pages">Budget Setup </a>
			</li>
			<!--end:Nav item-->
		</ul>
	</div>
	<!--end:Tabs nav-->
	<!--begin:Tab content-->
	<div class="tab-content py-4 py-lg-8 px-lg-7">
		<!--begin:Tab pane-->
		<div class="tab-pane active w-lg-1000px" id="kt_app_header_menu_pages_pages">
			<!--begin:Row-->
			<div class="row">
				<!--begin:Col-->
				<div class="col-lg-8">
					<!--begin:Row-->
					<div class="row">
						<!--begin:Col-->
						<div class="col-lg-4 mb-6 mb-lg-0">
							<!--begin:Menu heading-->
							<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">General Setup</h4>
							<!--end:Menu heading-->
							<!--begin:Menu item-->
							<div class="menu-item p-0 m-0">
								<!--begin:Menu link-->
								<a href="{{path('app_general_setup_index')}}" class="menu-link">
									<span class="menu-title">General Setup Dashboard</span>
								</a>
								<!--end:Menu link-->
							</div>
							<!--end:Menu item-->
							<!--begin:Menu item-->
							<div class="menu-item p-0 m-0">
								<!--begin:Menu link-->
								<a href="{{path('app_general_setup_new')}}" class="menu-link">
									<span class="menu-title">Add Parameter</span>
								</a>
								<!--end:Menu link-->
							</div>
							<!--end:Menu item-->
						</div>
						<!--end:Col-->
						<!--begin:Col-->
						<div class="col-lg-4 mb-6 mb-lg-0">
							<!--begin:Menu section-->
							<div class="mb-6">
								<!--begin:Menu heading-->
								<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Budget Manager</h4>
								<!--end:Menu heading-->
								<!--begin:Menu item-->
								<div class="menu-item p-0 m-0">
									<!--begin:Menu link-->
									<a href="{{path('GeneralView')}}" class="menu-link">
										<span class="menu-title">Global View</span>
									</a>
									<!--end:Menu link-->
								</div>
								<!--end:Menu item-->
								<!--begin:Menu item-->
								<div class="menu-item p-0 m-0">
									<!--begin:Menu link-->
									<a href="{{path('app_budget_line_index')}}" class="menu-link">
										<span class="menu-title">Budget Line Dashboard</span>
									</a>
									<!--end:Menu link-->
								</div>
								<!--end:Menu item-->
								<!--begin:Menu item-->
								<div class="menu-item p-0 m-0">
									<!--begin:Menu link-->
									<a href="#" class="menu-link">
										<span class="menu-title">Invoice Dashboard</span>
									</a>
									<!--end:Menu link-->
								</div>
								<!--end:Menu item-->
								<!--begin:Menu item-->
								<div class="menu-item p-0 m-0">
									<!--begin:Menu link-->
									<a href="{{path('app_budget_line_new')}}" class="menu-link">
										<span class="menu-title">Add Budget Line</span>
									</a>
									<!--end:Menu link-->
								</div>
								<!--end:Menu item-->
								<!--begin:Menu item-->
								<div class="menu-item p-0 m-0">
									<!--begin:Menu link-->
									<a href="#" class="menu-link">
										<span class="menu-title">Add Invoice</span>
									</a>
									<!--end:Menu link-->
								</div>
								<!--end:Menu item-->
							</div>
							<!--end:Menu section-->
						</div>
					</div>
					<!--end:Row-->
				</div>
				<!--end:Col-->
			</div>
			<!--end:Row-->
		</div>
		<!--end:Tab pane-->
	</div>
	<!--end:Tab content-->
</div>
<!--end:Pages menu-->