<!--begin::Tables widget 16-->
<div class="card card-flush h-xl-100 shadow">
	<!--begin::Body-->
	<div class="card-body">
		<!--begin::Title-->
		<h1 class="card-title align-items-start flex-column mb-8">
			<span class="card-label fw-bold text-danger">{{'Budget Setup'|trans}}</span>
			
			
		</h1>
		<!--end::Title-->
		<!--begin::Nav-->
		<ul class="nav nav-pills nav-pills-custom mb-3">
			<!--begin::Item-->
			<li class="nav-item mb-3 me-3 me-lg-6">
				<!--begin::Link-->
				<a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-danger flex-column overflow-hidden w-105px h-85px pt-5 pb-2 active" id="kt_stats_widget_16_tab_link_2" data-bs-toggle="pill" href="#kt_stats_widget_16_tab_2">
					<!--begin::Icon-->
					<div class="nav-icon mb-3">
						<img src="../assets/media/mymedia/setup.png" alt="">
					</div>
					<!--end::Icon-->
					<!--begin::Title-->
					<span class="nav-text text-gray-800 fw-bold fs-6 lh-1">{{'General Setup'|trans}}</span>
					<!--end::Title-->
					<!--begin::Bullet-->
					<span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-danger"></span>
					<!--end::Bullet-->
				</a>
				<!--end::Link-->
			</li>
			<!--end::Item-->
			<!--begin::Item-->
			<li class="nav-item mb-3 me-3 me-lg-6">
				<!--begin::Link-->
				<a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-danger flex-column overflow-hidden w-105px h-85px pt-5 pb-2" id="kt_stats_widget_16_tab_link_3" data-bs-toggle="pill" href="#kt_stats_widget_16_tab_3">
					<!--begin::Icon-->
					<div class="nav-icon mb-3">
						
						<img src="../assets/media/mymedia/budget.png" alt="">
					</div>
					<!--end::Icon-->
					<!--begin::Title-->
					<span class="nav-text text-gray-800 fw-bold fs-6 lh-1">{{'Budgets / Invoices'|trans}}</span>
					<!--end::Title-->
					<!--begin::Bullet-->
					<span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-danger"></span>
					<!--end::Bullet-->
				</a>
				<!--end::Link-->
			</li>
			<!--end::Item-->
			
		</ul>
		<!--end::Nav-->
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tap pane-->
			<div class="tab-pane faden active" id="kt_stats_widget_16_tab_2">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
								<th class="p-0 pb-3 min-w-150px text-start">{{'General Setup Options'|trans}} </th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div class="symbol symbol-40px me-5">
											<img src="../assets/media/mymedia/dashboard2.png" />
										</div>
										<div class="d-flex justify-content-start flex-column">
											<a href="{{path('app_general_setup_index')}}" class="text-gray-800 fw-bold text-hover-danger mb-1 fs-6">{{'General Setup Dashboard'|trans}}</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<a href="{{path('app_general_setup_index')}}" class="btn btn-sm btn-icon btn-bg-light btn-active-color-danger w-30px h-30px">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
										<span class="svg-icon svg-icon-5 svg-icon-gray-700">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
												<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div class="symbol symbol-40px me-5">
											<img src="../assets/media/mymedia/plus.png" />
										</div>
										<div class="d-flex justify-content-start flex-column">
											<a href="{{path('app_general_setup_new')}}" class="text-gray-800 fw-bold text-hover-danger mb-1 fs-6">{{'Add Parameter'|trans}}</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<a href="{{path('app_general_setup_new')}}" class="btn btn-sm btn-icon btn-bg-light btn-active-color-danger w-30px h-30px">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
										<span class="svg-icon svg-icon-5 svg-icon-gray-700">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
												<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</td>
							</tr>
						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--end::Tap pane-->
			<!--begin::Tap pane-->
			<div class="tab-pane fade" id="kt_stats_widget_16_tab_3">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
								<th class="p-0 pb-3 min-w-150px text-start">{{'Budget Options'|trans}}</th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div class="symbol symbol-40px me-5">
											<img src="../assets/media/mymedia/dashboard.png" />
										</div>
										<div class="d-flex justify-content-start flex-column">
											<a href="{{path('GeneralView')}}" class="text-gray-800 fw-bold text-hover-danger mb-1 fs-6">{{'Dashboard / Manage Budgets, Invoices'|trans}}</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<a href="{{path('GeneralView')}}" class="btn btn-sm btn-icon btn-bg-light btn-active-color-danger w-30px h-30px">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
										<span class="svg-icon svg-icon-5 svg-icon-gray-700">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
												<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</a>
								</td>
							</tr>
						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			
			<!--end::Table container-->
		</div>
		<!--end::Tab Content-->
	</div>
	<!--end: Card Body-->
</div>
<!--end::Tables widget 16-->